{% extends "base/base.html" %}
{% load static %}

{% block head %}
{% if '/equipo/' != request.path  %}
<script type="text/javascript">
$(function() {
    const myModal = document.getElementById('modal-activar')
    myModal.click()
    });
</script>
{% endif %}
{% endblock head %}

{% block content %}

<div class="row">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-header">
          <span><i class="bi bi-table me-2"></i></span>
          <a class="btn btn-primary btn-sm me-2" id="modal-activar" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Registrar Equipo</a>
          <span class="text-uppercase">{{ user }}</span>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              id="example"
              class="table table-striped data-table"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Fecha de creación</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                {% for equipo in equipos %}
                <tr>
                  <td>{{ equipo.codigo }}</td>
                  <td>{{ equipo.nombre }}</td>
                  <td>{{ equipo.fecha }}</td>
                  <td>
                    <a class="link-danger text-decoration-none" onclick="alercta_eliminar('{{ equipo.nombre }}',{{ equipo.id }})" role="button">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </a>
                    <a href="{% url 'equipo:equipo_actualizar' equipo.id %}" role="button" class="text-decoration-none">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                      </svg>
                    </a>
                    <a data-bs-toggle="modal" href="#exampleModalToggle" role="button" class="text-decoration-none">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg>
                    </a>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
              <tfoot>
                <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Fecha de creación</th>
                  <th>Acción</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal form  -->
  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Registrar Equipo</h1>
        <a {% if '/equipo/' != request.path %} onclick="reset_form_x()"{% endif %} type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
      </div>
      <div class="modal-body">
        <!-- formulario Crear Equipo -->
        <form method="post" id="formulario-equipo"
              action="
              {% if '/equipo/' == request.path %}
                {% url 'equipo:equipo_registrar' %}
              {% elif '/equipo/registrar/' == request.path %}
                {% url 'equipo:equipo_registrar' %}
              {% else %}
                {{ request.path }}
              {% endif %}">{% csrf_token %}
          <div class="mb-3">
            {{ form.codigo.errors }}
            <label for="codigoEquipo" class="form-label">Codigo:</label>
            {{ form.codigo }}
          </div>
          <div class="mb-3">
            {{ form.equipo.errors }}
            <label for="Equipo" class="form-label">Equipo:</label>
            {{ form.equipo }}
          </div>
          <div class="mb-3">
            <input type="submit" class="form-control" value="Registrar" >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
function reset_form_x(){
    window.location.href = "{% url 'equipo:equipo' %}"
}

function alercta_eliminar(nombre, id){
  swal({
  title: "Esta seguro?",
  text: "Si eliminas "+ nombre + ", no se puede recuperar",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal(nombre +" Eliminado", {
      icon: "success",
    });
    window.location.href = "/equipo/delete/" + id + "/"
  }

});
}
</script>

{% endblock content %}
